.now-playing {
    font-size: 60%;
    background-color: rgba(32, 32, 32, .2);
    padding: 1em;
    margin: 1em;
    border-radius: 3em;
    color: rgba(255, 255, 255, .75);
    text-align: center;
}

img {
    height: 12em;
    width: 12em;
    display: block;
    margin: 0 auto;
}

.flex-container-player {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .85;
    border-radius: 5px;
  }

  @media only screen and (max-width: 600px) {
    .now-playing {
        font-size: 1.5em;

    }

    img {
        height: 15em;
        width: 15em; 
    }
  }
  
