.playlist-songs-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 38vh;
}

.playlist-songs-grid-item {
    background-color: rgba(48, 48, 48, .75);
    border-radius: 5px;
    text-align: center;
    margin: 10px 0px 0px 10px;
    overflow: scroll;
}

.track-artist-song {
    margin: .5em;
    font-size: .75em;
}

@media only screen and (max-width: 600px) {
    .track-artist-song {
        font-size: 1.25em;

    }
  }