.search-font {
    font-size: .7em;
}

.search-font:hover {
    color: #818181;
    cursor: pointer;
}

.search-controls {
    display: flex;
    flex-direction: column;
}
.search-input {
    width: 80%;
    height: 2.5em;
}

.search-button {
    width: 80%;
    height: 2.5em;
}

.main-bar {
    height: 100%;
    background-color: rgb(4, 0, 14);
    opacity: .9;
    overflow: scroll;
}