.search-font {
    font-size: .7em;
}

.search-font:hover {
    color: #818181;
    cursor: pointer;
}

.search-controls {
    display: flex;
    flex-direction: column;
}
.search-input {
    width: 80%;
    height: 2.5em;
}

.search-button {
    width: 80%;
    height: 2.5em;
}

.main-bar {
    background-color: rgba(48, 48, 48, .75);
    height: 37vh;
    opacity: .85;
    border-radius: 5px;
    text-align: center;
    margin: 10px 10px 0px 0px;
    overflow: scroll;
}