
.flex-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.flex-container > div {
  color: white;
  width: 50%;
  margin: 1px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 100vh;
}

.center-container {
  line-height: 50vh !important;
}

.side-containers {
  flex-basis: 25vw;
  overflow: scroll;
  height: 100vh;
  opacity: .9;
}

.placeholder-div {
  height: 100%;
  background-color: rgb(4, 0, 14);
  opacity: .9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: url('https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: #282c34;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}


/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}
